doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title SYNAPS
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet")
    //- script(src="mapbasics.js" type="text/javascript")
  body

    .page
      
      .empty

      header.main-header
        .grid.grid--container
          .main-header__container
            .mobile-toggle
              .bar
            a(href="./pages.html").logo
              .logo__img
              .logo__name SYNAPS
            .nav
              a(href="./my-articles.html").nav__link Мои статьи
              a(href="./groups.html").nav__link Мои сообщества
              a(href="./friends.html").nav__link Коллеги
              a(href="./magazine.html").nav__link.nav__link--active Журнал
              a(href="./messages.html").nav__link Сообщения
            form.search
              input.search__input(type="text" placeholder="Поиск")
              button.search__btn
                img.svg(src="./img/search.svg" alt="")
            .main-header__user
              .dropdown
                .dropdown__top
                  .user.user--big
                    .ava
                      img(src="./img/user.png", alt="")
                    .user__container
                      a(href="").user__name Ренат
                      .user__info Студент, 20 лет
                  //- .dropdown__close ×
                .dropdown__middle
                  a(href="./profile.html").dropdown__link Профиль
                  a(href="./my-articles.html").dropdown__link Мои статьи
                  a(href="./groups.html").dropdown__link Мои сообщества
                  a(href="./friends.html").dropdown__link Коллеги
                  a(href="./about.html").dropdown__link О проекте
                  //- a(href="").btn Написать статью
                .dropdown__footer
                  .logout
                    .logout__icon
                      img.svg(src="./img/logout.svg")
                    a(href="") Выйти
              .user.user--small
                .user__container
                  a(href="").user__name Ренат
                .ava
                  img(src="./img/user.png", alt="")


      
      .main

        block content

      footer.main-footer
        .grid.grid--container
          p footer


      .mobile-menu
          a(href="./magazine.html").mobile-menu__link.mobile-menu__link--active
            img.svg(src="./img/magazines.svg", alt="")
            span.mobile-menu__link-text Журнал
          //- a(href="").mobile-menu__link.mobile-menu__link--active
          //-   img.svg(src="./img/home.svg", alt="")
          //-   span.mobile-menu__link-text Профиль
          a(href="./groups.html").mobile-menu__link
            img.svg(src="./img/groups.svg", alt="")
            span.mobile-menu__link-text Сообщества
          a(href="./friends.html").mobile-menu__link
            img.svg(src="./img/colleague.svg", alt="")
            span.mobile-menu__link-text Коллеги
          a(href="./messages.html").mobile-menu__link
            img.svg(src="./img/messages.svg", alt="")
            span.mobile-menu__link-text Сообщения
          a(href="./search.html").mobile-menu__link
            img.svg(src="./img/search.svg", alt="")
            span.mobile-menu__link-text Поиск



    script(src="./js/jquery-2.2.1.min.js")
    script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
    script(src="//yastatic.net/share2/share.js")
    script(src="./js/select2.min.js")
    script(src="./js/jquery.magnific-popup.min.js")
    script(src="./js/main.js")