extends layout.pug


block content
  
  .grid.grid--container
    .row
      .col.col--lg-2
        include lk-nav.pug

      .col.col--lg-7

        .calendar





      .col.col--lg-3
        .btn.btn--full Пригласить исследователя
        br
        br
        .block
          .block__label Мои задачи
          .block__container
            .tasks
              - for (var i = 0; i < 2; i++)
                a(href="").task
                  .task__background(style="background-image: url(./img/registration.jpg)")
                  .task__number 1
                  .task__container
                    .task__name Оформить данные
                    .task__countdown Истекает через 2 дня

        .block
          .block__label Популярные исследования
          .block__container
            .tasks
              - for (var i = 0; i < 2; i++)
                a(href="").task
                  .task__background(style="background-image: url(./img/registration.jpg)")
                  .task__number 1
                  .task__container
                    .task__name Оформить данные
                    .task__countdown Истекает через 2 дня

  include post-share.pug