.lk-nav
  a(href="./lk-").lk-nav__link
    .lk-nav__icon
      img(src="./img/lenta.svg", alt="").svg
    .lk-nav__text Лента
  a(href="./lk-tasks.html").lk-nav__link
    .lk-nav__icon
      img(src="./img/flag.svg", alt="").svg
    .lk-nav__text Задачи
  a(href="./lk-chat.html").lk-nav__link
    .lk-nav__icon
      img(src="./img/lk-messages.svg", alt="").svg
    .lk-nav__text Чат
  a(href="./lk-files.html").lk-nav__link.lk-nav__link--active
    .lk-nav__icon
      img(src="./img/lk-attach.svg", alt="").svg
    .lk-nav__text Файлы
  a(href="./lk-calendar.html").lk-nav__link
    .lk-nav__icon
      img(src="./img/lk-calendar.svg", alt="").svg
    .lk-nav__text Календарь
  a(href="./lk-researchers.html").lk-nav__link
    .lk-nav__icon
      img(src="./img/lk-user.svg", alt="").svg
    .lk-nav__text Иследователи