.lk-nav
  .lk-nav__link
    .lk-nav__icon
      img(src="./img/lenta.svg", alt="").svg
    .lk-nav__text Лента
  .lk-nav__link
    .lk-nav__icon
      img(src="./img/flag.svg", alt="").svg
    .lk-nav__text Задачи
  .lk-nav__link
    .lk-nav__icon
      img(src="./img/lk-messages.svg", alt="").svg
    .lk-nav__text Чат
  .lk-nav__link.lk-nav__link--active
    .lk-nav__icon
      img(src="./img/lk-attach.svg", alt="").svg
    .lk-nav__text Файлы
  .lk-nav__link
    .lk-nav__icon
      img(src="./img/lk-calendar.svg", alt="").svg
    .lk-nav__text Календарь
  .lk-nav__link
    .lk-nav__icon
      img(src="./img/lk-user.svg", alt="").svg
    .lk-nav__text Иследователи