extends layout.pug


block content
  
  .grid.grid--container
    .row
      .col.col--lg-2
        include lk-nav.pug

      .col.col--lg-7
        .lk-header-container
          h1.lk-header Задачи
          form.search
            input.search__input(type="text" placeholder="Поиск")
            button.search__btn
              img.svg(src="./img/search.svg" alt="")
          a(href="#new-task").btn.btn--green.modal-open Добавить

        .special-links
          .links
            a.link.link--active(href="") Все
            a.link(href="") Решаю
            a.link(href="") Получил

        table.table.lk-table.lk-table--tasks
          thead
            th Название
            th Крайний срок
            th Поручитель
            th Ответственный
          tbody
            - for (var i = 0; i < 8; i++)
              tr
                td TechnoRaum.ru - верстка и программирование
                td 7 Марта, 18:00
                td Анастасия Соколовская
                td Дмитрий Кошурин




      .col.col--lg-3
        .btn.btn--full Пригласить исследователя
        br
        br
        .block
          .block__label Мои задачи
          .block__container
            .tasks
              - for (var i = 0; i < 2; i++)
                a(href="").task
                  .task__background(style="background-image: url(./img/registration.jpg)")
                  .task__number 1
                  .task__container
                    .task__name Оформить данные
                    .task__countdown Истекает через 2 дня

        .block
          .block__label Популярные исследования
          .block__container
            .tasks
              - for (var i = 0; i < 2; i++)
                a(href="").task
                  .task__background(style="background-image: url(./img/registration.jpg)")
                  .task__number 1
                  .task__container
                    .task__name Оформить данные
                    .task__countdown Истекает через 2 дня

  include post-share.pug


  #new-task.modal
    .modal__title Добавить задачу
    .modal__container
      form
        .form-control
          input(type="text")
          label Название задачи
        .form-control
          textarea
          label Текст
        .form-control
          input(type="text").datepicker
          label Крайний срок
        .btn Добавить задачу