extends layout.pug


block content
  
  .grid.grid--container
    .row
      .col.col--lg-8
        - for (var i = 0; i < 3; i++)
          .post.post--small.block
            include post-top.pug
            .post__middle
              a(href="").post__title Опыт лечения рака предстательной железы в Клинике Башкирского государственного медицинского университета
              .tags
                .tag.tag--red Медицина
                .tag.tag--green Лечение рака
                .tag Современная медицина
              a(href="").post__img
                img(src="./img/post-1.jpg", alt="")
              p.post__anons Бессознательное иллюстрирует латентный субъект. Как было показано выше, код гомогенно интегрирует филосовский тест. Кризис отчуждает индивидуальный психоанализ. Импульс сложен. Эриксоновский гипноз пространственно притягивает социометрический интеллект. Стимул вызывает страх.

            include share.pug

            include post-footer.pug


      .col.col--lg-4
        .popular.block
          .block__label Самое популярное за месяц
          a(href="").popular__img
            img(src="./img/popular.jpg", alt="")
          .popular__container
            a(href="").popular__title Будущее кибернетических протезов или как удешевить производство в 2 раза?
            include postinfo.pug
            a(href="").btn.btn--green Подробнее
        //- .block
        //-   .block__label Коллеги
        //-   .block__container
        //-     - for (var i = 0; i < 3; i++)
        //-       .user
        //-         .ava
        //-           img(src="./img/user.png", alt="")
        //-         .user__container
        //-           a(href="").user__name Гарипов Ренат
        //-           .user__info Студент, 20 лет

        .block
          .block__label Теги
          .block__container
            .tags.tags--without-margin
              .tag.tag--red Медицина
              .tag Альтернативная медицина
              .tag.tag--green Лечение рака
              .tag Современная медицина
              .tag Исторические открытия
              .tag New York science

        //- VK Widget
        script(type="text/javascript" src="//vk.com/js/api/openapi.js?150")
        .block
          #vk_groups
        script.
          VK.Widgets.Group("vk_groups", {mode: 3, width: "full"}, 20003922);

        //- Facebook widget
        script.
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

        .block
          .fb-page(data-href="https://www.facebook.com/facebook" data-width="380"  data-hide-cover="false" data-show-facepile="false")
  



