extends layout.pug


block content
  
  .grid.grid--container
    .row
      .col.col--lg-8
        .posts-links
          .links
            a.link.link--active(href="") Активные
            a.link(href="") Готовые
          .buttons
            a(href="#new-article").btn.btn--micro.modal-open Написать 
              span статью
        - for (var i = 0; i < 9; i++)
          .post.post--small.block
            include post-top.pug
            .post__middle
              a(href="").post__title Опыт лечения рака предстательной железы в Клинике Башкирского государственного медицинского университета
              .tags
                .tag.tag--red Медицина
                .tag.tag--green Лечение рака
                .tag Современная медицина

            include post-footer.pug


      .col.col--lg-4
        .popular.block
          .block__label Самое популярное за месяц
          a(href="").popular__img
            img(src="./img/popular.jpg", alt="")
          .block__container
            a(href="").popular__title Будущее кибернетических протезов или как удешевить производство в 2 раза?
            include postinfo.pug
            a(href="").btn.btn--green Подробнее

        .block
          a(href="#collegs").block__label.modal-open Коллеги 
            span 12
          .block__container
            .users
              - for (var i = 0; i < 8; i++)
                .user.user--big.user--vertical
                  .ava
                    img(src="./img/user.png", alt="")
                  .user__container
                    a(href="").user__name Ренат

        .block
          a(href="#collegs").block__label.modal-open Сообщества 
            span 12
          .block__container
            - for (var i = 0; i < 3; i++)
              .user
                .ava
                  img(src="./img/popular.jpg", alt="")
                .user__container
                  a(href="").user__name Современная медицина
                  .user__info 1 223 участникат



  #collegs.modal
    .modal__title Коллеги
    .modal__container
      .users
        - for (var i = 0; i < 24; i++)
          .user.user--huge.user--vertical
            .ava
              img(src="./img/user.png", alt="")
            .user__container
              a(href="").user__name Ренат

  #post-share.modal.modal--small
    .modal__title Поделиться записью
    .modal__container
      - for (var i = 0; i < 12; i++)
        .user
          .ava
            img(src="./img/user.jpg", alt="")
          .user__container
            a(href="").user__name Смирнова Маргарита
            .user__info Студент, 24 года

  include new-article.pug

