.post__footer
  .post__footer-left
    include postinfo.pug
  .post__footer-right
    .block__info
      .item.item--share
        .item__icon
          img.svg(src="./img/share.svg" alt="")
        .post__number 57