.post__top
  .post__top-left
    .user.user--small
      .ava
        img(src="./img/user.png", alt="")
      .user__container
        a(href="").user__name Гарипов Ренат
    .date 30 октября
    a(href="").status Статистическая обработка
  .post__top-right
    .rating
      .stars
        .star.star--active
          i.fa.fa-star
        .star.star--active
          i.fa.fa-star
        .star.star--active
          i.fa.fa-star
        .star.star--active
          i.fa.fa-star
        .star
          i.fa.fa-star
      .rating__number 4.6