.block__info
  .item
    .item__icon
      img.svg(src="./img/view.svg" alt="")
    .block__number 256
  a(href="").item
    .item__icon
      img.svg(src="./img/comment.svg" alt="")
    .block__number 12
  .item.item--active
    .item__icon
      i.fa.fa-heart
    .post__number 58