.post__footer
  .post__footer-left
    include postinfo.pug
  .post__footer-right
    .block__info
      a(href="#post-share").item.item--share.modal-open
        .item__icon
          img.svg(src="./img/share.svg" alt="")
        .post__number 57