form.write
  input.write__input(type="text" placeholder="Написать сообщение...")
  .write__right
    button.write__attach
      img.svg(src="./img/attach.svg", alt="")
    button.write__send
      img.svg(src="./img/send.svg", alt="")