.dropdown
  background-color #fff
  bottom -22.5rem
  border $border
  border-radius $radius
  box-shadow $shadow
  min-width 280%
  opacity 0
  position absolute
  pointer-events none
  right 0
  transform translateY(.8rem)
  transition all .3s ease
  z-index 50
  &__top
    border-bottom $border
    margin-bottom 1rem
    padding 1.6rem
    .ava
      margin-right 1.6rem !important
    .user
      &__name
        font-size 2rem
        font-weight 500
  &__link
    display block
    font-size 1.4rem
    padding 1rem 1.6rem
    // width 12rem
    &:hover
      background-color rgba($primary, .05)
    // &:not(:last-child)
    //   border-bottom $border

.logout
  align-items center
  border-top $border
  display flex
  font-size 1.4rem
  margin-top 1rem
  padding 1.6rem
  &__icon
    circle(1.6rem)
    margin-right .8rem
    transform translateY(-2px)
  &:hover
    color $primary
    path
      fill $primary