.lk-nav
  transform translateY(1.6rem)
  &__link
    align-items center
    color $gray
    display flex
    margin-bottom 3.2rem
    &--active
      color $main
  &__icon
    display inline-block
    margin-right 1.6rem
    width 2rem
  &__text
    display inline-block


