.empty
  display block
  height 10rem

.main-header
  background-color #fff
  border-bottom $border
  cursor pointer
  display flex
  margin-bottom 4rem
  // padding 1.8rem 0
  position fixed
  top 0
  transition all .3s ease
  width 100%
  z-index 20
  &__container
    align-items center
    display flex
    justify-content space-between
  &__user
    position relative
    padding 1.4rem 0
    transition padding .2s ease
    .ava
      margin-right 0
    .user
      margin-right 0
      &__container
        margin-right .8rem
      &__name
        color $main
    &:hover
      & > .dropdown
        opacity 1
        pointer-events initial
        transform none
  &--scroll
    box-shadow 0 8px 16px -3px rgba($gray, .15)

.search
  background-color $light-gray
  border-radius 2.4rem
  display flex
  justify-content space-between
  height 4rem
  width 20rem
  &__input
    background-color transparent
    border none
    padding-left 2.4rem
    width 100%
  &__btn
    background none
    border none
    cursor pointer
    margin-right 1.6rem
    path
      fill $main
    &:hover
      path
        fill $primary
  .svg
    width 1.4rem

.nav
  &__link
    font-size 1.4rem
    height 100%
    transition color .2s ease
    &:hover
      color $primary
    &--active
      font-weight 500
      position relative
      &:after
        background-color $primary
        bottom -2.4rem
        content ''
        height 2px
        left -20%
        position absolute
        width 140%
    &:not(:last-child)
      margin-right 3.2rem

$bar-width = 2.4rem
$bar-height = 2px
$bar-spacing = .8rem

.mobile-toggle
  display none
  width: $bar-width
  height: $bar-height + $bar-spacing*2
  cursor: pointer
  &--active
    .bar
      background transparent
      &:before
        bottom: 0
        transform: rotate(-45deg)
        transition: bottom .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1)
      &:after
        top: 0
        transform: rotate(45deg)
        transition: top .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1)


.bar,
.bar:after,
.bar:before
  width: $bar-width
  height: $bar-height


.bar
  background-color $main
  position: relative
  transform: translateY($bar-spacing)
  transition: all 0 .3s
  


.bar:before
  content: ""
  position: absolute
  left: 0
  bottom: $bar-spacing
  background: $main
  transition: bottom .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1)


.bar:after
  content: ""
  position: absolute
  left: 0
  top: $bar-spacing
  background: $main
  transition: top .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1)



@media(max-width 1200px)
  // .main-header
  //   .logo
  //     display none
  .mobile-toggle
    display none
  .nav
    display none
  .search
    display none


@media(max-width 768px)
  .main-header
    &__user
      padding 1.6rem 0