.popular-block
  &__title
    align-items center
    display flex
    justify-content center
    margin-bottom 3.2rem
    .svg
      margin-right .8rem
    span
      font-size 2.4rem

.popular
  &__img
    display block
    max-height 20rem
    overflow hidden
    &:hover
      img
        transform scale(1.03)
    img
      transition transform .3s ease
      width 100%
  &__container
    padding 2.4rem
  &__title
    font-size 2rem
    font-weight 500
    display block
    line-height 1.2
    margin-bottom 2.4rem
    transition color .2s ease
    &:hover
      color $primary
  .block__info
    margin-bottom 2.4rem