.posts-links
  align-items center
  background-color rgba($primary, .05)
  display flex
  justify-content space-between
  padding 1.2rem 2.4rem
  padding-left 0
  .link
    display inline-block
    padding 0 4rem
    position relative
    &:after
      background-color $primary
      bottom -2.2rem
      content ''
      display none
      height 2px
      left 0
      position absolute
      width 100%
    &--active
      &:after
        display block

.post
  background-color #fff
  border $border
  padding 0 3.2rem
  &__top
    align-items center
    display flex
    justify-content space-between
    margin-bottom 1.6rem
    padding-top 3.2rem
    &-left
      align-items center
      display flex
  &__title
    color $main
    display block
    font-size 2.4rem
    font-weight 500
    line-height 1.4
    margin-bottom 2.4rem
    &:hover
      color $primary
  &__img
    display block
    margin 0 -3.2rem
    // margin-bottom 2.4rem
    margin-bottom .8rem
    max-height 35rem
    overflow hidden
    &:hover
      img
        transform scale(1.015)
    img
      transition transform .3s ease
      width 100%
  &__anons
    margin-top 2.4rem
  &__number
    display block
  &__footer
    border-top $border
    display flex
    justify-content space-between
    margin 0 -3.2rem
    padding 2.4rem 3.2rem
    

@media(max-width 768px)
  .posts-links
    padding-right 1.2rem
    .link
      font-size 1.3rem
      padding 0 1.6rem
    .buttons
      .btn
        span
          display none
  .post
    padding 0 1.6rem
    &__top
      display block
      padding-top 1.6rem
      &-left
        align-items center
        flex-wrap wrap
        width 100%
        .user
          margin-bottom 1.6rem
          margin-right 0
          width 50%
        .date
          margin-bottom 1.6rem
          margin-right 0
          height 4rem
          padding-top 1.2rem
          text-align right
          width 50%
        .status
          display block
          margin-bottom 1.6rem
          width 100%
    &__title
      font-size 1.6rem
    &__img
      margin 0 -1.6rem
    &__footer
      margin 0 -1.6rem
      padding 1.6rem