// body
//   debug()
// html.mobile-menu-was-open
//   overflow hidden

@media(max-width 1200px)
  .grid.grid--container
    padding 0 1.6rem


@media(max-width 500px)
  .grid.grid--container
    padding 0 .5rem