@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic')

@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'helpers/helpers.styl'

@import 'base/base.styl'
@import 'base/ui.styl'
@import 'base/table.styl'
@import 'base/typography.styl'
@import 'base/animations.styl'
@import 'base/icons.styl'
@import 'base/modal.styl'

@import 'components/main-header.styl'
@import 'components/main-footer.styl'
@import 'components/post.styl'
@import 'components/block.styl'
@import 'components/user.styl'
@import 'components/group.styl'
@import 'components/switcher.styl'
@import 'components/popular.styl'
@import 'components/tags.styl'
@import 'components/dropdown.styl'
@import 'components/table-items.styl'
@import 'components/message.styl'
@import 'components/profile.styl'
@import 'components/controls.styl'
@import 'components/mobile-menu.styl'
@import 'components/page-search.styl'
@import 'components/write.styl'
@import 'components/reg.styl'
@import 'components/special-links.styl'
@import 'components/lk.styl'
@import 'components/lk-nav.styl'
@import 'components/file-icons.styl'
@import 'components/tasks.styl'
@import 'components/about.styl'
@import 'components/event.styl'

@import 'modifications/modifications.styl'


// .grid--container
//   max-width 1540px

// .grid--container
//   max-width initial
//   padding 0 (184 / 1900 * 100)%

body
  background-color #f3f3f3

.page
  background-color #f3f3f3

.logo
  align-items center
  display flex
  &__img
    // background-image url('../../img/logo.svg')
    background-image url('../../img/logo.png')
    background-position center
    background-repeat no-repeat
    background-size contain
    display inline-block
    height 4rem
    margin-right 1rem
    width 12rem
  &__name
    transform translateY(.4rem)

.common-link
  color $primary
  font-weight 400
  text-decoration none

.main
  display block

.date
  color $gray
  font-size 1.4rem
  margin-right 2.4rem

.rating
  .stars
    display inline-flex
    margin-right .6rem
    vertical-align middle
    .star
      color $light-gray
      display inline-block
      margin 0
      margin-right 2px
      &--active
        .fa
          color $yellow
  &__number
    display inline-block
    font-size 1.4rem
    vertical-align middle

.status
  color $green
  font-size 1.4rem

.share
  margin-bottom 3.2rem

.ava
  align-items center
  border-radius 50%
  circle(4.8rem)
  display flex
  flex-shrink 0
  justify-content center
  overflow hidden
  img
    height 100%


@import 'base/media.styl'


